body {
    background-color: #282828;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  #main-container {
    display: flex;
  }
  
  #side-menu {
    width: 7%;
  }
  
  #main-content {
    width: 93%;
  }
  
  .panel {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    border: 1px solid #ffffff;
    padding: 5px;
  }
  
  td {
    border: 1px solid #888888;
    padding: 5px;
  }
  